
<div class="col-lg-5 col-xl-4">

    <div class="card shadow mb-4">

        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="text-primary font-weight-bold m-0">{{metricTypes[key]}}</h6>
        </div>

        <div class="card-body">

            <button id="{{key}}ModalButton" type="button" class="btn btn-primary" style="width: 100%; height:50px;" data-toggle="modal" data-target="#{{key}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{key}}ModalLabel" aria-hidden="true">
             View {{metricTypes[key]}}
            </button>

            <div class="modal modal-lg" id="{{key}}Modal" style="max-width: 100%;" tabindex="-1" role="dialog" aria-labelledby="{{key}}ModalLabel" aria-hidden="true">
              <div id="{{key}}ModalDialog" class="modal-dialog" style="max-width: 100%; max-height=90%; height: 90%;">
                <div class="modal-content" style="max-width: 100%; max-height=100%; height: 100%;" >
                  <div class="modal-header">
                    <h5 class="modal-title" id="{{key}}ModalLabel">{{metricTypes[key]}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="max-width: 100%; max-height=100%; height: 100%;">
                    <p id="{{key}}Loading"></p>
                    <iframe id="{{key}}iFrame" style="max-width: 100%; width: 100%; max-height=100%; height: 90%;"  src="">
                    </iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="{{key}}ReloadButton" onclick="{{key}}ReloadButton()" type="button" class="btn btn-primary">Reload Data</button>
                  </div>
                </div>
              </div>
            </div>

    
        </div>
    </div>
</div>




<script type=text/javascript>


document.getElementById('{{key}}ReloadButton').onclick = function() {
    document.getElementById('{{key}}Loading').innerHTML = "Loading...";
    document.getElementById('{{key}}iFrame').contentWindow.location.reload();
};


document.getElementById('{{key}}ModalButton').onclick = function() {
    document.getElementById('{{key}}Loading').innerHTML = "Loading...";
    document.getElementById('{{key}}iFrame').src="{{machine['Serial']}}/{{key}}";
};

$('#{{key}}iFrame').on('load', function(){
    document.getElementById('{{key}}Loading').innerHTML = "";
});

$(window).load(function(){
    $('#{{key}}Modal').modal('show');
});




</script>
