
{% include 'service/header_js.html' %}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


<h1> Processors: </h1>
<table id="displayTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
<thead><tr>
        <th>Processor</th>
        <th>Core</th>
        <th>Arch</th>
        <th>Make</th>
        <th>Model</th>
        <th>Rated Speed (Mhz)</th>
        <th>Current Speed (Mhz)</th>
        <th>Utilization</th>
</tr></thead>

<tbody>
    {% if cpus %}
      {% for cpu in cpus %}
          <tr>
                  <td> {{cpu['ProcessorID']}}</td>
                  <td> {{cpu['CoreID']}}</td>
                  <td> {{cpu['Arch']}}</td>
                  <td> {{cpu['Make']}}</td>
                  <td> {{cpu['Model']}}</td>
                  <td> {{cpu['RatedSpeedMHz']}}</td>
                  <td> {{cpu['SpeedMHz']}}</td>
                  <td> {{cpu['Utilization']}}%</td>
          </tr>
      {% endfor %}
    {% endif %}
</tbody>
</table>

<br><br>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>

<body>
 <label for="interface">Choose the Processor:</label>

<select name="selectMetric" id="selectMetric">
  {% for cpu in cpus %}
    <option value="{{cpu['ProcessorID']}}">{{cpu['ProcessorID']}}</option>
  {% endfor %}
</select> 

<br>
<p>Start Date: <input type="text" id="datepickerStart"></p>
<p>End Date: <input type="text" id="datepickerEnd"></p>

<button id="updateChartButton" onclick="queryServer()" class="btn btn-primary btn-block" type="submit"> Update Chart </button>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
</body>






<script type=text/javascript>

$( function() {
  $( "#datepickerStart" ).datepicker();
} );

$( function() {
  $( "#datepickerEnd" ).datepicker();
} );


var chart;

$(document).ready(function() {
    $('#displayTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );

} );

window.onload = function() {

  chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  title: {
    text: "{{metric.upper()}}"                                                                                       
  },
  axisX: {
    title: "Time"
  },
  axisY: {
    title: "CPU Utilization",
    suffix: "%",
    includeZero: true
  },
  data: [
    {
      type: "line",
      showInLegend: true,
      legendText: "% Util",    
      name: "Util",    
      connectNullData: true,
      //nullDataLineDashType: "solid",
      xValueType: "dateTime",
      xValueFormatString: "DDD, DD MMM YYYY HH:mm:ss",
      yValueFormatString: "###.##",
      dataPoints: []
    }
]
});
chart.render();

}

function queryServer() {

  var dpstart = ($("#datepickerStart").datepicker('getDate'));
  var dpend = ($("#datepickerEnd").datepicker('getDate'));
  var e = document.getElementById("selectMetric"); 
  var selectMetric = e.options[e.selectedIndex].text;

  $.ajax({
    type: "GET",
    url: "http://{{webserver}}:5000/get/"+'{{serial}}'+"/"+'{{metric}}',
    data: {startdate: dpstart, enddate: dpend, metric: selectMetric},
    dataType: "json",
    success: function (result, status, xhr) {
      chart.options.data[0].dataPoints = []
      
      for (i = 0; i < result.length; i++){
        chart.options.data[0].dataPoints.push({ x: Date.parse(result[i]['EntryDate'].replace("GMT","")), y: result[i]['Utilization'] });     
      }
      chart.render();
    }
  });
}

</script>



