<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="../../static/service/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../static/service/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'nav/banner.html' %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">LSR&nbsp;Dashboard - All Systems</h3>
                    </div>

                    <div class="row">
                    {% if machines %}
                      {% for machine in machines %}
                          <div class="col-lg-5 col-xl-4">
                              <div class="card shadow mb-4">
                                  <div class="card-header d-flex justify-content-between align-items-center">
                                      <h6 class="text-primary font-weight-bold m-0">
                                          {{machine['Serial']}}: {{machine['Name']}}
                                      </h6>
                                  </div>
                                  <div class="card-body">
                                    <a href="/machine/{{ machine['Serial'] }}" class=""><img src="../../static/service/assets/img/desktop.png" style="width: 100%;"></a>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                    {% else %}
                      <h6 class="text-primary font-weight-bold m-0">No machines have been added for your username! Contact your local admin to link machines to the account!</h6>
    
                    {% endif %}
                    </div>

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>LSR © 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../../static/service/assets/js/jquery.min.js"></script>
    <script src="../../static/service/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/service/assets/js/chart.min.js"></script>
    <script src="../../static/service/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../../static/service/assets/js/theme.js"></script>
</body>

</html>
