
{% include 'service/header_js.html' %}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

 

<h1> System Disks: </h1>
<table id="displayTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
<thead><tr>
        <th>Disk</th>
        <th>Make</th>
        <th>Model</th>
        <th>Available MB</th>
        <th>Total MB</th>
        <th>Read kB/s</th>
        <th>Write kB/s</th>
</tr></thead>

<tbody>
    {% if disks %} 
        {% for disk in disks %}
            <tr>
                    <td> {{disk['Disk']}}</td>
                    <td> {{disk['Make']}}</td>
                    <td> {{disk['Model']}}</td>
                    <td> {{disk['SizeAvailable']}}</td>
                    <td> {{disk['SizeTotal']}}</td>
                    <td> {{disk['Read']}}</td>
                    <td> {{disk['Write']}}</td>
            </tr>
        {% endfor %}
    {% endif %} 

</tbody>
</table>



{% for disk in disks %}
<br><br> 
<h2> "Partitions for disk: {{disk['Disk']}}" </h2>
    <table id="displayTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
    <thead><tr>
            <th>Partition</th>
            <th>Type</th>
            <th>Total MB</th>
            <th>Used MB</th>
            <th>Available MB</th>
            <th>Path</th>
    </tr></thead>

    <tbody>
        {% for part in disk['partitions'] %}
            <tr>
                    <td> {{part['Name']}}</td>
                    <td> {{part['Type']}}</td>
                    <td> {{part['SizeTotal']}}</td>
                    <td> {{part['SizeUsed']}}</td>
                    <td> {{part['SizeAvailable']}}</td>
                    <td> {{part['Mount']}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endfor %}



<br><br>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<body>
 <label for="interface">Choose the Disk:</label>
<select name="selectMetric" id="selectMetric">
  {% for disk in disks %}
    <option value="{{disk['Name']}}">{{disk['Disk']}}</option>
  {% endfor %}
</select> 

<br>
<p>Start Date: <input type="text" id="datepickerStart"></p>
<p>End Date: <input type="text" id="datepickerEnd"></p>

<button id="updateChartButton" onclick="queryServer()" class="btn btn-primary btn-block" type="submit"> Update Chart </button>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
</body>




<script type=text/javascript>

$( function() {
  $( "#datepickerStart" ).datepicker();
} );

$( function() {
  $( "#datepickerEnd" ).datepicker();
} );

var chart;

$(document).ready(function() {
    $('#displayTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );
} );


window.onload = function() {

  chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  title: {
    text: "{{metric.upper()}}"
  },
  axisX: {
    title: "Time"
  },
  axisY: {
    title: "kB/s",
    suffix: "",
    includeZero: true
  },
  data: [
    {
      type: "line",
      showInLegend: true,
      legendText: "Read",    
      name: "Read",    
      connectNullData: true,
      nullDataLineDashType: "solid",
      xValueType: "dateTime",
      xValueFormatString: "DDD, DD MMM YYYY HH:mm:ss",
      yValueFormatString: "###0.##",
      dataPoints: []
    },
    {
      type: "line",
      showInLegend: true,
      legendText: "Write",    
      name: "Write",    
      connectNullData: true,
      nullDataLineDashType: "solid",
      xValueType: "dateTime",
      xValueFormatString: "DDD, DD MMM YYYY HH:mm:ss",
      yValueFormatString: "###0.##",
      axisYType:"secondary",
      dataPoints: []
    },
]
});
chart.render();
}

function queryServer() {

  var dpstart = ($("#datepickerStart").datepicker('getDate'));
  var dpend = ($("#datepickerEnd").datepicker('getDate'));
  var e = document.getElementById("selectMetric"); 
  var selectMetric = e.options[e.selectedIndex].text;

  $.ajax({
    type: "GET",
    url: "http://{{webserver}}:5000/get/"+'{{serial}}'+"/"+'{{metric}}',
    data: {startdate: dpstart, enddate: dpend, metric: selectMetric},
    dataType: "json",
    success: function (result, status, xhr) {
      chart.options.data[0].dataPoints = []
      chart.options.data[1].dataPoints = []

      for (i = 0; i < result.length; i++){
        chart.options.data[0].dataPoints.push({ x: Date.parse(result[i]['EntryDate'].replace("GMT","")), y: result[i]['Read'] });     
        chart.options.data[1].dataPoints.push({ x: Date.parse(result[i]['EntryDate'].replace("GMT","")), y: result[i]['Write'] });     
      }
      chart.render();
    }
  });
}


</script>


