
{% include 'service/header_js.html' %}

<h1> Graphics Adapters: </h1>
<table id="displayTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
<thead><tr>
        <th>Slot</th>
        <th>Type</th>
        <th>Manufacturer</th>
        <th>Kernel</th>
</tr></thead>

<tbody>
    {% if gpus %}
        {% for gpu in gpus %}
            <tr>
                    <td> {{gpu['Slot']}}</td>
                    <td> {{gpu['Type']}}</td>
                    <td> {{gpu['Manufacturer']}}</td>
                    <td> {{gpu['KernelModule']}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</tbody>
</table>



<script type=text/javascript>

$(document).ready(function() {
    $('#displayTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );

} );

</script>

