<link rel="stylesheet" href="{{url_for('static', filename='service/assets/datatables/jquery.dataTables.min.css')}}" >
<script src="{{url_for('static', filename='main/assets/js/jquery.min.js')}}"></script> 
<script src="{{url_for('static', filename='service/assets/datatables/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='service/assets/datatables/datatables.bootstrap.min.js')}}"></script>

<script src="{{url_for('static', filename='main/assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='main/assets/bootstrap/css/bootstrap.min.css')}}"></script>
