{% include 'service/header_js.html' %}

<h1> System Host Information: </h1>
<table id="displayTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          

<thead><tr>
        <th>Hostname</th>
        <th>OS</th>
        <th>Kernel</th>
        <th>Arch</th>
        <th>Bios Version</th>
        <th>Bios Date</th>
        <th>Entry Date</th>
        <th>System Uptime</th>
</tr></thead>

<tbody>
    <tr>
            <td> {{host['Hostname']}}</td>
            <td> {{host['OSRelease']}}</td>
            <td> {{host['OSKernel']}}</td>
            <td> {{host['OSArch']}}</td>
            <td> {{host['BiosVersion']}}</td>
            <td> {{host['BiosDate']}}</td>
            <td> {{host['EntryDate']}}</td>
            <td> {{up}}</td>
    </tr>

</tbody>
</table>

<script type=text/javascript>

$(document).ready(function() {
    $('#displayTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );

} );

</script>

