<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="../../static/service/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../static/service/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/fontawesome5-overrides.min.css">

    {% include 'service/header_js.html' %}

</head>

<body id="page-top">
    <div id="wrapper">

        {% include 'nav/banner.html' %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">{{ machine['Name'] }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Entry Date</span></div>
                                            <div class="text-dark
                                            font-weight-bold h5 mb-0"><span>{{machine['EntryDate']}}</span></div>
                                        </div>
                                        <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-device-laptop fa-2x text-gray-300">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <line x1="3" y1="19" x2="21" y2="19"></line>
                                                <rect x="5" y="6" width="14" height="10" rx="1"></rect>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Serial</span></div>
                                            <div class="text-dark
                                            font-weight-bold h5
                                            mb-0"><span>{{machine['Serial']}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-barcode fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Model</span></div>
                                            <div class="text-dark
                                            font-weight-bold h5
                                            mb-0"><span>{{machine['Model']}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="icon ion-model-s fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Manufacturer</span></div>
                                            <div class="text-dark
                                            font-weight-bold h5
                                            mb-0"><span>{{machine['Make']}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="far fa-building fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for key in metricTypes %}
                            {% include 'service/card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>LSR © 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../../static/service/assets/js/jquery.min.js"></script>
    <script src="../../static/service/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/service/assets/js/chart.min.js"></script>
    <script src="../../static/service/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../../static/service/assets/js/theme.js"></script>
</body>

</html>



