
{% include 'service/header_js.html' %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">




<h1> Last Active Read (MB): </h1>
<table id="activeTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
<thead><tr>
        <th>Total</th>
        <th>Available</th>
        <th>Cached</th>
        <th>Swap</th>
</tr></thead>

<tbody>
        <tr>
            <td> {{active['TotalSize']}}</td>
            <td> {{active['Free']}}</td>
            <td> {{active['Cache']}}</td>
            <td> {{active['Swap']}}</td>
        </tr>
</tbody>
</table>



<br><br> 
<h2> "DIMM and System Memory Information" </h2>
    <table id="staticTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
    <thead><tr>
            <th>Location</th>
            <th>Type</th>
            <th>Total MB</th>
            <th>Speed Mhz</th>
            <th>Make</th>
            <th>Model</th>
    </tr></thead>

    <tbody>
    {% if static %} 
        {% for stick in static %}
            <tr>
                    <td> {{stick['DIMMSlot']}}</td>
                    <td> {{stick['Type']}}</td>
                    <td> {{stick['UnitSize']}}</td>
                    <td> {{stick['Speed']}}</td>
                    <td> {{stick['Make']}}</td>
                    <td> {{stick['Model']}}</td>
            </tr>
        {% endfor %}
     {% endif %}  
    </tbody>
    </table>

<br><br>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<body>
<br>
<p>Start Date: <input type="text" id="datepickerStart"></p>
<p>End Date: <input type="text" id="datepickerEnd"></p>

<button id="updateChartButton" onclick="queryServer()" class="btn btn-primary btn-block" type="submit"> Update Chart </button>
<br><br><br><br><br><br>
<br><br><br><br><br><br>

</body>










<script type=text/javascript>

$( function() {
  $( "#datepickerStart" ).datepicker();
} );

$( function() {
  $( "#datepickerEnd" ).datepicker();
} );

var chart;

$(document).ready(function() {
    $('#activeTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );
    $('#staticTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );

} );


window.onload = function() {

  chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  title: {
    text: "{{metric.upper()}}"
  },
  axisX: {
    title: "Time"
  },
  axisY: {
    title: "MegaBytes",
    suffix: "",
    includeZero: true
  },
  data: [
    {
      type: "line",
      showInLegend: true,
      legendText: "Free",    
      name: "Free",    
      connectNullData: true,
      nullDataLineDashType: "solid",
      xValueType: "dateTime",
      xValueFormatString: "DDD, DD MMM YYYY HH:mm:ss",
      yValueFormatString: "###.##",
      dataPoints: []
    },
    {
      type: "line",
      showInLegend: true,
      legendText: "Swap",    
      name: "Swap",    
      connectNullData: true,
      nullDataLineDashType: "solid",
      xValueType: "dateTime",
      xValueFormatString: "DDD, DD MMM YYYY HH:mm:ss",
      yValueFormatString: "###.##",
      dataPoints: []
    },
    {
      type: "line",
      showInLegend: true,
      legendText: "Cache",    
      name: "Cache",    
      connectNullData: true,
      nullDataLineDashType: "solid",
      xValueType: "dateTime",
      xValueFormatString: "DDD, DD MMM YYYY HH:mm:ss",
      yValueFormatString: "###.##",
      axisYType:"secondary",
      dataPoints: []
    },
]
});
chart.render();

}


function queryServer() {

  var dpstart = ($("#datepickerStart").datepicker('getDate'));
  var dpend = ($("#datepickerEnd").datepicker('getDate'));

  $.ajax({
    type: "GET",
    url: "http://{{webserver}}:5000/get/"+'{{serial}}'+"/"+'{{metric}}',
    data: {startdate: dpstart, enddate: dpend, metric: null},
    dataType: "json",
    success: function (result, status, xhr) {
      chart.options.data[0].dataPoints = []
      chart.options.data[1].dataPoints = []
      chart.options.data[2].dataPoints = []
      
      for (i = 0; i < result.length; i++){
        chart.options.data[0].dataPoints.push({ x: Date.parse(result[i]['EntryDate'].replace("GMT","")), y: result[i]['Free'] });     
        chart.options.data[1].dataPoints.push({ x: Date.parse(result[i]['EntryDate'].replace("GMT","")), y: result[i]['Swap'] });     
        chart.options.data[2].dataPoints.push({ x: Date.parse(result[i]['EntryDate'].replace("GMT","")), y: result[i]['Cache'] });     
      }
      chart.render();
    }
  });
}


</script>



