
{% include 'service/header_js.html' %}

<h1> Top Processes: </h1>
<table id="displayTable" class="table table-striped table-bordered" style="margin-left:15px;" cellspacing="0" width="95%" cellpadding=10 border="1">                                                                                          
<thead><tr>
        <th>PID</th>
        <th>User</th>
        <th>CPU %</th>
        <th>Memory %</th>
        <th>Runtime</th>
        <th>Command</th>
</tr></thead>

<tbody>
    {% if activeProcesses %} 
      {% for process in activeProcesses %}
          <tr>
                  <td> {{process['PID']}}</td>
                  <td> {{process['User']}}</td>
                  <td> {{process['CPUPercent']}}%</td>
                  <td> {{process['MemoryPercent']}}%</td>
                  <td> {{process['Runtime']}}</td>
                  <td> {{process['Command']}}</td>
          </tr>
      {% endfor %}
     {% endif %}  
</tbody>
</table>



<script type=text/javascript>

$(document).ready(function() {
    $('#displayTable').DataTable( {
        "sDom":     '<"pull-left"f>',
        "paging":   false,
        "order":    [[0, "asc"]],
        "info":     false
    } );

} );

</script>

