<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="../../static/service/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../static/service/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/service/assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'nav/banner.html' %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">All Registered Users</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">User Information</p>
                        </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
{#                                            <th class="quickview">UserIMG</th>#}
                                            <th class="quickview">UserID</th>
                                            <th class="quickview">Email</th>
                                            <th class="quickview">UserName</th>
                                            <th class="quickview">LastName</th>
                                            <th class="quickview">FirstName</th>
                                            <th class="quickview">isAdmin?</th>
                                            <th class="quickview">Phone</th>
                                            <th class="quickview">EntryDate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
{#                                            <td><img class="rounded-circle mr-2" width="30" height="30" src="../../static/service/assets/img/account.png">Airi Satou</td>#}
                                            {% for user in users %}
                                            <td class="quickview">{{ user['UserId'] }}</td>
                                            <td class="quickview">{{ user['Email'] }}</td>
                                            <td class="quickview">{{ user['UserName'] }}</td>
                                            <td class="quickview">{{ user['LastName'] }}</td>
                                            <td class="quickview">{{ user['FirstName'] }}</td>
                                            <td class="quickview">{{ user['isAdmin'] }}</td>
                                            <td class="quickview">{{ user['Phone'] }}</td>
                                            <td class="quickview">{{ user['EntryDate'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>LSR © 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../../static/service/assets/js/jquery.min.js"></script>
    <script src="../../static/service/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/service/assets/js/chart.min.js"></script>
    <script src="../../static/service/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../../static/service/assets/js/theme.js"></script>
</body>

</html>
