<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Test</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th class="quickview">UserID</th>
            <th class="quickview">UserName</th>
            <th class="quickview">LastName</th>
            <th class="quickview">FirstName</th>
            <th class="quickview">isAdmin?</th>
            <th class="quickview">PasswordHash</th>
            <th class="quickview">Phone</th>
            <th class="quickview">EntryDate</th>
        </tr>
    </thead>
    <tbody>
        {% for user in account %}
        <tr>
            <td class="quickview">{{ user.UserID }}</td>
            <td class="quickview">{{ user.UserName }}</td>
            <td class="quickview">{{ user.LastName }}</td>
            <td class="quickview">{{ user.FirstName }}</td>
            <td class="quickview">{{ user.isAdmin }}</td>
            <td class="quickview">{{ user.PasswordHash }}</td>
            <td class="quickview">{{ user.Phone }}</td>
            <td class="quickview">{{ user.EntryDate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>