<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LSR Team</title>
    <link rel="stylesheet" href="../static/main/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/main/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="../static/main/assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="../static/main/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="../static/main/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../static/main/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="../static/main/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="../static/main/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/main/assets/css/styles.css">
    <link rel="stylesheet" href="../static/main/assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="index.html">Linux System Reporting (LSR)</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="team.html">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="support.html">Support</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Account</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="login.html">Login</a><a class="dropdown-item" href="register.html">Register</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="team-boxed" style="background: #475d62;">
        <div class="container" style="border-style: none;">
            <div class="intro">


<h2>Register a User:</h2>
{{ msg }}
      <form action="" method="post">
  <div style="width:400px;">

        <input type="text" class="form-control" placeholder="Email" name="email" value="{{request.form.email }}">
         <br>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username }}">
         <br>
         <input type="password" class="form-control" placeholder="Enter Password" name="password" value="{{request.form.password }}">                                                                                 
         <br>
         <input type="password" class="form-control" placeholder="Enter Password Again" name="checkpassword" value="{{request.form.checkpassword }}">                                                                                 
         <br>
        <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{request.form.firstname }}">
         <br>
        <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{request.form.lastname }}">
         <br>
        <input type="text" class="form-control" placeholder="Phone #" name="phone" value="{{request.form.phone }}">
        <input style="float: right;margin-top: 15px;" class="btn btn-success btn-shadow" type="submit" value="Register">
  </div>
  <br>


      </form>




            </div>
        </div>
    </section>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="index.html">About LSR</a></li>
                        <li><a href="team.html">Meet LSR&nbsp;Team</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Linux System Reporting Tool (LSR)</h3>
                    <p></p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">LSR&nbsp;© 2021</p>
        </div>
    </footer>
    <script src="../static/main/assets/js/jquery.min.js"></script>
    <script src="../static/main/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/main/assets/js/bs-init.js"></script>
    <script src="../static/main/assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
</body>

</html>
