<!DOCTYPE html>
<html lang="en" style="background: #282d32;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LSR 404 Error!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Features-Boxed.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Footer-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Map-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Navigation-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main/assets/css/Team-Boxed.css')}}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="{{ url_for('index') }}">
            Linux System Reporting (LSR)</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('team') }}">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('support') }}">Support</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Account</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="../login.html">Login</a><a class="dropdown-item" href="../register.html">Register</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="contact-clean" style="color: rgb(33, 37, 41);background: #475d62;">
        <h1 class="text-center" style="color: rgb(255,255,255);">404! Page not found / exist!</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="../../static/404sheriff.png" width="200">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center" style="color: rgb(255,255,255);">
                        Woah there cowboy, I reckon your lost!
                        <br>
                        <br>
                        them links above to go to another fun page!
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-dark" style="background: rgb(40, 45, 50);">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="../support.html">Support</a></li>
                        <li><a href="#">Privacy Statement</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="../index.html">About LSR</a></li>
                        <li><a href="../team.html">Meet LSR&nbsp;Team</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Linux System Reporting Tool (LSR)</h3>
                    <p></p>
                </div>
                <div class="col item social"><a href="#">
                    <i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">LSR&nbsp;© 2021</p>
        </div>
    </footer>
    <script src="../../static/main/assets/js/jquery.min.js"></script>
    <script src="../../static/main/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/main/assets/js/bs-init.js"></script>
</body>

</html>
