<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LSR Dashboard</title>
</head>
<body>
{{ msg }}
<h1>Dashboard</h1>
<hr/>
<h1> Navigation </h1>
<a href="../register.html">Register</a>
<a href="../login.html">Login</a>
<hr/>
<div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Index</h1>
             </div>
                <h1 class="bottom">
                     Hi {{session.username}}!!</br></br> Welcome to the index page...
                </h1>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          </div>
        </div>
<hr/>
<h1>Old news</h1>

<h3>Submitted data:</h3>
<ul>
    <li>{{ email }}</li>
    <li>{{ password }}</li>
</ul>
</body>
</html>